/* Menü */
.navbar-logo img {
    height: 80px;
    width: 80px;
    border-radius: 10px;
}

.navbar.bg-body-tertiary {
    background-color: rgba(49, 81, 143, 0.8) !important;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-nav .nav-link.active {
    color: white !important;
}

.navbar-toggler-icon {
    background-color: white !important;
}

.navbar-nav .nav-item {
    margin-right: 15px;
}

/* Alapstílus */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navigáció fix helyzetben */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Bejelentkezési rész */
.tarolo {
    margin: auto;
    /* Középre helyezés */
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(49, 81, 143, 0.8);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

/* Bejelentkezési input mezők */
.input {
    width: 100%;
}

.input input {
    width: 100%;
    padding: 10px;
    border: 2px solid rgba(49, 81, 143, 0.8);
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s, background-color 0.3s;
}

.input input:focus {
    border-color: #31518f;
    background-color: rgba(49, 81, 143, 0.1);
}

/* Bejelentkezési gomb */
.login {
    width: 100%;
}

.login button {
    width: 100%;
    padding: 10px;
    background-color: rgba(49, 81, 143, 0.8);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login button:hover {
    background-color: #31518f;
    /* Hover szín */
}

/* Képek méretezése a navigációs sávban */
form i img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Bejelentkezési oldal cím */
.login-title {
    font-size: 30px;
    color: rgba(49, 81, 143, 0.8);
    /* Kék szín */
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Regisztrációs link és szöveg */
.existing-account {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: rgba(49, 81, 143, 0.8);
    /* Kék szín */
}

.existing-account .login-link {
    color: rgba(49, 81, 143, 0.8);
    /* Kék szín */
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s ease;
}

.existing-account .login-link:hover {
    color: #31518f;
    /* Hover szín */
}