/* Profilkép előnézet */
#preview-container {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Kerek forma */
    overflow: hidden; /* Kép levágása, ha túl nagy */
    border: 2px solid rgba(49, 81, 143, 0.8);
    background-color: #f4f4f9;
}

.preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* A kép kitölti a kört */
    object-position: center; /* A kép középre igazítása */
    max-width: 100%;  /* A kép maximális szélessége */
    max-height: 100%; /* A kép maximális magassága */
    display: block; /* Elkerüli a nem kívánt alatta lévő fehér területet */
}



/* Feltöltő input stílus */
input[type="file"] {
    width: 100%; /* Kitölti a szülő szélességét */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(49, 81, 143, 0.8);
    margin-bottom: 20px;
}

/* Módosítás gomb */
button#btnSavePic {
    background-color: rgba(49, 81, 143, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button#btnSavePic:hover {
    background-color: rgba(49, 81, 143, 1);
}

/* Alapstílus */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navigáció fix helyzetben */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Bejelentkezési rész */
.tarolo {
    margin: auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(49, 81, 143, 0.8);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.profileImg:hover{
    scale: 1.1;
}